<div class="table-responsive m-2">
  <table
    class="table table-striped table-hover table-borderless table-primary align-middle"
  >
    <thead class="table-light">
      <caption class="bg-secondary w-100">
        <h1 class="m-1">My orders</h1>
      </caption>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let order of userOrders; let i = index" class="table-primary">
        <td>{{ i + 1 }}</td>
        <td>{{ order.name }}</td>
        <td>
          <div>
            {{ order.date | date : "medium" }}
          </div>
        </td>
        <td>
          <img
            appLightBox
            defaultColor="darkgreen"
            highLightColor="red"
            [src]="order.imageUrl"
            alt="order Image"
          />
        </td>
        <td>
          {{ order.quantity }}
        </td>
        <td>{{ order.price | currency : "EUR" }}</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
