<div id="wrapper" class="bg-dark text-light">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="nabil" routerLink="/Home" routerLinkActive="active">NaBil</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Shortcuts</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Overview</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Events</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Services</a>
      </li>
      <li>
        <a routerLink="/Home" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</div>
