#sidebar-wrapper{
    height: 100vh;
}

.sidebar-nav{
    padding: 20px;
    li{
        margin: 3px;
        padding: 5px;
        list-style: none;
        a{
            text-decoration: none;
            color: rgb(198, 210, 212);
        }
        .nabil{
            margin-bottom: 10px;
            color: rgb(232, 232, 194);
        }
    }
}